#hero_section {
  grid-column: 1/4;
  width: 100%;
  height: 100vh;
  background-image: url(/img/blomster.svg);
  background-size: cover;
  background-position: 50% 65%;
  display: grid;
  place-content: center;
  z-index: -1;
}

#blomster {
  overflow: clip;
  z-index: 0;
}

#gron_blomst_container {
  position: absolute;
  aspect-ratio: 264.45/270.31;
  width: 10rem;
  top: 70%;
  left: 5%;
}
#gron_blomst {
  background-image: url(/img/nr1.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

#bla_blomst_container {
  position: absolute;
  aspect-ratio: 273/260;
  width: 3rem;
  top: 55%;
  left: 77%;
}
#bla_blomst {
  background-image: url(/img/nr2.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

#lyserod_blomst_container {
  position: absolute;
  aspect-ratio: 148.39/146.62;
  width: 9rem;
  top: 15%;
  left: 60%;
}
#lyserod_blomst {
  background-image: url(/img/nr3.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*Rotation class som sættes på blomsterne i JS*/
.rotation {
  animation-name: rotation_kf;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes rotation_kf {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
