/*======Generelt layout af siden======*/
main {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 900px) 1fr;
  column-gap: 1rem;
}
main section {
  grid-column: 2/3;
  margin-bottom: 4rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=======Farverne, font family og fontsize======*/
body {
  background-color: rgb(246, 222, 216);
}
#tema2_body {
  background-color: rgb(0, 186, 96, 0.1);
}
#tema3_body {
  background-color: rgb(255, 167, 215, 0.2);
}
#tema4_body {
  background-color: rgb(5, 108, 242, 0.1);
}

#tema5_body {
  background-color: rgba(255, 183, 0, 0.1);
}
#tema6_body {
  background-color: rgba(0, 186, 96, 0.1);
}

h1 {
  color: rgb(255, 109, 0);
  font-family: "Spicy Rice", cursive;
  font-size: 4.5rem;
  text-align: center;
  z-index: 1;
}

h2 {
  color: rgb(0, 186, 96);
  font-family: "Spicy Rice", cursive;
  font-size: 2.5rem;
  padding: 0;
}

h3 {
  font-family: "Katibeh", cursive;
  color: rgb(0, 186, 96);
  font-size: 2rem;
  padding: 0;
  margin-top: 0.5rem;
}

h4 {
  font-family: "Libre Caslon Display", serif;
  color: rgb(0, 186, 96);
  font-size: 1.1rem;
  padding: 0;
}

main p {
  font-family: "Libre Caslon Text", serif;
  color: rgb(78, 65, 58);
  font-size: 0.9rem;
  padding: 0;
  margin-bottom: 1rem;
}
footer p {
  font-family: "Libre Caslon Text", serif;
  color: rgb(246, 222, 216);
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

/*======styling af link til opgaverne======*/
.link a {
  color: rgb(255, 109, 0);
}

.link a:hover {
  color: rgb(5, 108, 242);
  text-decoration: none;
}
/*




*/
/*======Stylang af nav/banner======*/
#banner {
  background: rgb(255, 109, 0);
  z-index: 2;
}

#banner nav {
  padding-top: 1rem;
}

#banner ul {
  display: block;
  gap: 1.25rem;
  list-style-type: none;
  overflow-x: auto;
  place-content: center;
  flex-flow: wrap;
}

#banner ul a {
  font-family: "Katibeh", cursive;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(246, 222, 216);

  padding: 0;
  margin-left: 0;
}

@media (max-width: 600px) {
  #banner .nav2 {
    display: none;
  }
}
/*======hover effekt og aktiv side*/
#banner li a:hover:not(.active) {
  color: rgb(5, 108, 242);
}

#banner .active {
  color: rgb(5, 108, 242);
}

/*======Burgermenus ikoner (virking i js)======*/
#menu {
  width: 2rem;
  aspect-ratio: 131/130;
  position: absolute;
  top: 14%;
  left: 2%;
  background-image: url(/img/burger.svg);
  background-size: cover;
}
#luk {
  width: 2rem;
  aspect-ratio: 131/130;
  position: absolute;
  top: 9%;
  left: 2%;
  background-image: url(/img/luk.svg);
  background-size: cover;
}

/*======burgermenus virkning======*/
/*Til JAVA SCRIPT*/
.hide {
  display: none;
}
.toggle-btn {
  display: none;
}
@media (max-width: 600px) {
  .toggle-btn {
    position: relative;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
  }

  nav {
    display: none;
  }

  nav.shown {
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: block;
    flex-flow: column;
    margin-left: 3.5rem;
  }

  #banner {
    display: flex;
    position: sticky;
    top: 0;
  }
}
/*




*/
/*======Footer=======*/
footer {
  background-color: rgb(255, 109, 0);
}
footer p {
  text-align: center;
  padding: 1rem;
}
/*




*/
/*======Knapper=======*/
#index_first_section a {
  border: none;
  text-decoration: none;
}
#index_first_section h2:hover {
  color: rgb(5, 108, 242);
}

#port_first_section figure:hover {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse_kf {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
/*Blomster image til link*/
#port_first_section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#port_first_section .tema2_section {
  grid-column: 1/2;
  grid-row: 1/3;
}
#port_first_section .tema3_section {
  grid-column: 2/3;
  grid-row: 2/4;
}
#port_first_section .tema4_section {
  grid-column: 1/2;
  grid-row: 3/5;
}
#port_first_section .tema5_section {
  grid-column: 2/3;
  grid-row: 4/6;
}
#port_first_section .tema6_section {
  grid-column: 1/2;
  grid-row: 5/7;
}
#port_first_section img {
  padding: 1rem;
}
/*




*/
/*======Media tablet version======*/
@media (min-width: 600px) {
  /*Styling af overskrifter i tablet version*/
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  p,
  footer {
    font-size: 1rem;
  }
  /*Stylang af nav/banner* for tablet*/
  #banner ul {
    display: flex;
  }

  #banner ul a {
    font-size: 1.8rem;
  }

  #banner .nav2 ul a {
    font-size: 1.5rem;
  }
}

/*======Media Web version======*/
@media (min-width: 992px) {
  /*Styling af overskrifter i tablet version*/
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.6rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p,
  footer {
    font-size: 1.3rem;
  }

  /*======Stylang af nav/banner* for tablet======*/
  #banner ul {
    display: flex;
  }

  #banner ul a {
    font-size: 2rem;
  }
  #banner .nav2 ul a {
    font-size: 1.5rem;
  }
}
/*




*/
/*======Styling af index.html======*/
#hero_section {
  grid-column: 1/4;
  width: 100%;
  height: 100vh;
  background-image: url(/img/blomster.svg);
  background-size: cover;
  background-position: 50% 65%;
  display: grid;
  /* place-content: center; */
  z-index: -1;
  position: relative;
  overflow: hidden;
  align-content: center;
}

#blomster {
  z-index: 0;
}

#gron_blomst_container {
  position: absolute;
  aspect-ratio: 264.45/270.31;
  width: 10rem;
  top: 62%;
  left: 5%;
}
#gron_blomst {
  background-image: url(/img/nr1.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

#bla_blomst_container {
  position: absolute;
  aspect-ratio: 273/260;
  width: 8rem;
  top: 50%;
  left: 77%;
}
#bla_blomst {
  background-image: url(/img/nr2.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

#lyserod_blomst_container {
  position: absolute;
  aspect-ratio: 148.39/146.62;
  width: 9rem;
  top: 13%;
  left: 60%;
}
#lyserod_blomst {
  background-image: url(/img/nr3.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*Rotation class som sættes på blomsterne i JS*/
.rotation {
  animation-name: rotation_kf;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes rotation_kf {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#index_first_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#index_first_section .omknap {
  grid-column: 1/2;
  text-align: center;
}
#index_first_section .portknap {
  grid-column: 2/3;
  text-align: center;
}
/*



*/
/*======Styling af ommig.html======*/
#om_first_section article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

#om_first_section p img {
  height: 100%;
  object-fit: cover;
}
#om_first_section img {
  clip-path: circle(40% at 50% 50%);
}
#om_second_section video {
  width: 100%;
  height: auto;
  display: block;
}
/*




*/
/*=======Styling af tema2.html=======*/
#tema2_second_section .col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

#tema2_second_section img {
  height: 100%;
  object-fit: cover;
}
/*




*/
/*======Styling af tema3.html======*/
#tema3_second_section .col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
#tema3_second_section img {
  height: 100%;
  object-fit: cover;
}
#tema3_third_section .col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
#tema3_third_section img {
  height: 100%;
  object-fit: cover;
}

/*



*/
/*======Styling af tema4.html======*/
#tema4_second_section .col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
#tema4_second_section img {
  height: 100%;
  object-fit: cover;
}
/*



*/
/*======Styling af tema5.html======*/
#tema5_second_section .col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
#tema5_second_section img {
  height: 100%;
  object-fit: cover;
}

#tema5_third_section .col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
#tema5_third_section img {
  height: 100%;
  object-fit: cover;
}
/*




*/
/*======Styling af tema6.html======*/
/*Første section*/
#tema6_first_section .col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
#tema6_first_section img {
  height: 100%;
  object-fit: cover;
}
/*Anden section*/
/* #tema6_second_section .col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

#tema6_second_section img {
  height: 100%;
  object-fit: cover;
} */

/*Tredje section*/
#tema6_third_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}
#tema6_third_section img {
  height: 100%;
  object-fit: cover;
}
